[Desktop Entry]
Name=MiniOS Kernel Manager
Name[de]=MiniOS Kernel-Manager
Name[es]=Gestor de Kernels de MiniOS
Name[fr]=Gestionnaire de noyaux MiniOS
Name[id]=Manajer Kernel MiniOS
Name[it]=Gestore Kernel MiniOS
Name[pt]=Gerenciador de Kernels MiniOS
Name[pt_BR]=Gerenciador de Kernels MiniOS
Name[ru]=Менеджер ядер MiniOS
Comment=Manage kernel modules for MiniOS
Comment[de]=Kernel-Module für MiniOS verwalten
Comment[es]=Gestionar módulos del kernel para MiniOS
Comment[fr]=Gérer les modules du noyau pour MiniOS
Comment[id]=Kelola modul kernel untuk MiniOS
Comment[it]=Gestire i moduli del kernel per MiniOS
Comment[pt]=Gerenciar módulos do kernel para MiniOS
Comment[pt_BR]=Gerenciar módulos do kernel para MiniOS
Comment[ru]=Управление модулями ядер для MiniOS
Exec=minios-kernel-manager
Icon=package-x-generic
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=kernel;modules;squashfs;initramfs;minios;
StartupNotify=true