<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>MiniOS Linux</vendor>
  <vendor_url>https://minios.dev</vendor_url>

  <action id="dev.minios.kernel-manager.cli">
    <description>Run MiniOS Kernel Manager CLI operations</description>
    <description xml:lang="de">MiniOS Kernel Manager CLI-Operationen ausführen</description>
    <description xml:lang="es">Ejecutar operaciones CLI del MiniOS Kernel Manager</description>
    <description xml:lang="fr">Exécuter les opérations CLI de MiniOS Kernel Manager</description>
    <description xml:lang="id">Menjalankan operasi CLI MiniOS Kernel Manager</description>
    <description xml:lang="it">Eseguire operazioni CLI del MiniOS Kernel Manager</description>
    <description xml:lang="pt">Executar operações CLI do MiniOS Kernel Manager</description>
    <description xml:lang="pt_BR">Executar operações CLI do MiniOS Kernel Manager</description>
    <description xml:lang="ru">Выполнить операции MiniOS Kernel Manager CLI</description>
    <message>Authentication is required to perform kernel operations</message>
    <message xml:lang="de">Authentifizierung ist erforderlich, um Kernel-Operationen durchzuführen</message>
    <message xml:lang="es">Se requiere autenticación para realizar operaciones del kernel</message>
    <message xml:lang="fr">Une authentification est requise pour effectuer des opérations sur le noyau</message>
    <message xml:lang="id">Diperlukan otentikasi untuk menjalankan operasi kernel</message>
    <message xml:lang="it">È richiesta l'autenticazione per eseguire operazioni del kernel</message>
    <message xml:lang="pt">É necessária autenticação para executar operações do kernel</message>
    <message xml:lang="pt_BR">É necessária autenticação para executar operações do kernel</message>
    <message xml:lang="ru">Для выполнения операций с ядром требуется аутентификация</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/minios-kernel</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>


</policyconfig>